@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import './buttons.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Urbanist', sans-serif;
}
