@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import './buttons.scss';
@import './link.scss';

:root {
  --surface-color: #fff;
  --text-color: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: color 0.4s ease;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Urbanist', sans-serif;

  color: var(--text-color);
  background-color: var(--surface-color);

  transition: background-color 0.4s ease;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.4s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-color: #282828;
    --text-color: #fafafa;
  }
  .ReactModal__Overlay {
    background-color: rgba($color: #000000, $alpha: 0.75) !important;
  }
}
