@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import './buttons.scss';
@import './link.scss';

:root {
  --surface-color: #fff;
  --text-color: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: color 0.4s ease;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Urbanist', sans-serif;

  color: var(--text-color);
  background-color: var(--surface-color);

  transition: background-color 0.4s ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-color: #282828;
    --text-color: #fafafa;
  }
}
