.center-container {
  display: grid;
  place-items: center;

  min-height: 100vh;
  width: 100%;
}

.login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  width: 92.5vw;
  max-width: 550px;

  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba($color: #ccc, $alpha: 0.25);
  // outline: 1px solid #ccc;
  transition: background-color 0.4s ease;

  // prettier-ignore
  box-shadow:
    0 0.8px 2.2px rgba(0, 0, 0, 0.02),
    0 2px 5.3px rgba(0, 0, 0, 0.028),
    0 3.8px 10px rgba(0, 0, 0, 0.035),
    0 6.7px 17.9px rgba(0, 0, 0, 0.042),
    0 12.5px 33.4px rgba(0, 0, 0, 0.05),
    0 30px 80px rgba(0, 0, 0, 0.07)
  ;

  &__heading {
    font-weight: 400;
  }
  &__list {
    display: grid;
    gap: 1rem;

    width: 100%;
    max-width: 300px;
    list-style-type: none;

    &__item button {
      width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .login {
    background-color: rgba($color: #ccc, $alpha: 0.125);
  }
}
